body {
  background-color: #000;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: #83F52C;
}

h3 {
  font-family: 'Bungee', cursive;
}

p,
ol {
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 50px 0;
  padding-bottom: 400px;
  margin: 0 auto;
  text-align: center;
  border: 3px dashed white;
  color: #FFF;
}

.btn:hover{
  color: #83F52C;
}

.top,
.bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 75px;
  margin-bottom: 75px; 
}
